@using RaupjcProject.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Password</a></li>
    <li class="@ManageNavPages.MyPlaylistsNavClass(ViewContext)"><a asp-action="MyPlaylists">My Playlists</a></li>
    <li class="@ManageNavPages.MoodsNavClass(ViewContext)"><a asp-action="Moods">Moods</a></li>
</ul>

