
@{
    ViewData["Title"] = "Info";
}

<h3>Info</h3>

<body>
    <p>
        This site was made by Nikola Ćališ as project for subject: "Application development using C# programming language". 
    </p>
</body>

